Makefile
CMakeCache.txt
cmake_install.cmake
bin/
CMakeFiles/
test/bin/
test/lib/
test/CMakeFiles/
test/Makefile
test/CMakeCache.txt
test/cmake_install.cmake

src/lib/
src/CMakeFiles/
src/Makefile
src/CMakeCache.txt
src/cmake_install.cmake
lib/

lib/libgmock.a
lib/libgmock_main.a
lib/libgtest.a
lib/libgtest_main.a

lib/libsimpleLibrary.a